---
import { Image } from "astro:assets";
import Pil from "../assets/SVG/Chevron down.svg";
---

<section class="saved-sizes-card">
  <div class="saved-sizes-card__header">
    <h2>Dine gemte størrelser</h2>
    <p>baseret på tidligere køb</p>
  </div>

  <details class="saved-size-item">
    <summary>
      <span>BH-størrelse</span>
      <span>Brand</span>
      <Image src={Pil} alt="pil" class="saved-size-arrow" />
    </summary>

    <div class="saved-size-content">
      <div>
        <p>75C</p>
        <p>38</p>
        <a href="#">Se mere</a>
      </div>

      <div>
        <p>Primadonna</p>
        <p>Missya Bodywear</p>
      </div>
    </div>
  </details>

  <details class="saved-size-item">
    <summary>
      <span>Trusse-størrelse</span>
      <span>Brand</span>
      <Image src={Pil} alt="pil" class="saved-size-arrow" />
    </summary>

    <div class="saved-size-content">
      <div>
        <p>36</p>
        <p>S</p>
        <a href="#">Se mere</a>
      </div>

      <div>
        <p>Marie Jo</p>
        <p>Calvin Klein</p>
      </div>
    </div>
  </details>

  <div class="saved-size-bottom">

   <button
  class="size-guide-trigger"
  type="button"
  data-size-guide-open
>
  Se størrelsesguide
</button>

    <button>Ændre dine størrelser</button>
  </div>
</section>

<div class="size-guide-overlay is-hidden" data-size-guide-popup>

  <section class="size-guide-popup">

    <button
      class="size-guide-close"
      type="button"
      data-size-guide-close
    >
      ×
    </button>

    <img
      src="/images/stoerrelsesguide.webp"
      alt="Størrelsesguide"
      class="size-guide-image"
    />

  </section>

</div>

<script>
  const openButton = document.querySelector("[data-size-guide-open]");
  const closeButton = document.querySelector("[data-size-guide-close]");
  const popup = document.querySelector("[data-size-guide-popup]");

  openButton?.addEventListener("click", () => {
    popup?.classList.remove("is-hidden");
  });

  closeButton?.addEventListener("click", () => {
    popup?.classList.add("is-hidden");
  });

  popup?.addEventListener("click", (event) => {
    if (event.target === popup) {
      popup.classList.add("is-hidden");
    }
  });
</script>